@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}
#one{
    background-color:#EC4067;
}
body{
    align-content:center;
}
#three{
    height:18rem;
    width:18rem;
    float: right;
}
.zero{
    display:flex ;
    justify-content: space-between;
}
ul{
    display: flex;
}
li{
    list-style: none;
    margin:0 1rem;
}
.nav{
    display: flex;
    padding: 1rem 7rem;
    justify-content: space-between;

}
#img1{
    padding-right: 2rem;
}
#section2{
    display:flex ;
    padding: 1rem 10rem;
    justify-content: space-between;
}
#img2{
    height: 12rem;
    width: 18rem;
}
.story{
    padding: 1rem 10rem;
}
#board{
    display:flex ;
    padding: 1rem 10rem;
    justify-content: space-between;
}
#img3{
    height:12rem;
    width:18rem;
}
#graduation{
    height:12rem;
    width:18rem;
}
#img4{
    height: 12rem;
    width: 18rem;
}
.technical{
    display:flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}
.technical div img{
    width:20vw;
}
button{
    color:white;
    background-color: #EC4067;
    border:none;
    border-radius:5px;
}
.technical div .dev{
    color:#EC4067;
}
.on-image{
    color:white;
    transform: translateY(-3rem);
    padding-left: 1rem;
}
.technical img{
    opacity: 0.9;
}
.zero div{
    width:48vw;
}
#nine{
    height:40vh;
}
.big{
    font-size: 2rem;
    font-weight: bold;
    padding-left: 2rem;
    margin-right: 0.5rem;
}
.zero{
    padding-left: 2rem;
}
.zero h1{
    color:#EC4067;

}
.fot{
    padding-left: 2rem;
    margin-bottom: 2rem;
}
.fot p{
    color: #EC4067;
    font-size: 2rem;
}
a{
    color: #EC4067;
    text-decoration: none;
}
.footer{
    text-align: center;
    height:6vh;
    background-color: beige;
    padding-top: 2rem;
}